{% extends 'base.html.twig' %}

{% block title %}
Blog
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            {% if app.user %}
                <a class="navbar-brand" href="#">{{ app.user.username }}</a>
            {% endif %}
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('log_out') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sing_in') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Login form</h1>
            <div class="col-lg-6">
                <form action="{{ path('sing_in') }}" method="post" class="form-horizontal">
                    <label for="username">Username:</label>
                    <input type="text" name="_username" id="username" value="{{ username }}" class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}